

<nav class="navbar">
  <div class="logo">Xplora</div>
  <ul class="nav-links">
    <li><a href="#" routerLink="/home">Home</a></li>
    <li><a href="#" routerLink="/about">About</a></li>
    <li><a href="#" routerLink="/destinations">Destinations</a></li>
    <li><a href="#" routerLink="/history">History</a></li>
    <li><a href="#" routerLink="/profile">Profile</a></li>
    <li><a  style="color:#ffff"href="#" routerLink="/register" class="special">Register</a></li>
    <li><a  style="color:#ffff" href="#" routerLink="/login" class="special">Login</a></li>
  </ul>
</nav>
<!-- <div class="backgroundImage"></div> -->






