<app-navbar></app-navbar>
<div class="backgroundImage">
  <div class="floating-div">
    <p>Welcome to Xplora, your gateway to unforgettable travel experiences!</p>
    <p class="tagline">Search Xplora and find your perfect tour match</p>

    <div class="search-bar-container">
      <select class="tour-type-select">
        <option value="all">All Tour Types</option>
         <!-- <option *ngFor="let type of tourTypes" [value]="type.id">{{ type.name }}</option> -->
      </select>
      <button class="search-button">Search</button>
    </div>





  </div>


</div>
