<nav class="navbar">
  <div class="logo">Xplora</div>
  <ul class="nav-links">
    <li><a *ngIf="!loggedIn" style ="margin-left:100%; color:#e67e22;" routerLink="/home">Home</a></li>
    <li><a  *ngIf="loggedIn" routerLink="/user-view-tours">Tours</a></li>
    <li><a *ngIf="loggedIn" routerLink="/user-view-bookings">My Bookings</a></li>
    <li><a  *ngIf="loggedIn" routerLink="/reviews">Reviews</a></li>

    <li><a *ngIf="!loggedIn"  style="color:#ffff" href="#" routerLink="/register" class="special">Register</a></li>
    <li><a   *ngIf="!loggedIn" style="color:#ffff" href="#" routerLink="/login" class="special">Login</a></li>

    <div *ngIf="loggedIn" class="dropdown">
      <button class="dropbtn">
        <i class="fas fa-user" style="color:#e67e22;"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink="/logout" (click)="logoutUser()">Logout</a>
        <a routerLink="/profile">Profile</a>
        <a routerLink="/settings">Settings</a>
      </div>
    </div>
  </ul>
</nav>

