<div class="container">

  <div *ngFor="let booking of paginatedBookings; let i = index" class="card">

    <div class="card-content">

      <div class="card-image">
        <img [src]="booking.tour_image" alt="{{ booking.tour_name }}">
      </div>
      <p class="card-description">{{ booking.user_name }}</p>
      <p class="card-description">{{ booking.tour_name }}</p>
      <div class="card-info">
        <span class="card-date">{{ booking.booking_date}} </span>
        <span class="card-status" [ngClass]="{'status-cancelled': booking.iscancelled, 'status-active': !booking.iscancelled}">
          {{ booking.iscancelled ? 'CANCELLED' : 'ACTIVE' }}
        </span>


      </div>
      <div class="card-actions">

      </div>
    </div>



  </div>
  <div class="pagination-controls">
    <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Prev</button>
    <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === maxPage()">Next</button>
    <div class="pagination-info">Page {{ currentPage }} of {{ maxPage() }}</div>
  </div>




</div>


